.mdl-demo section .section__circle-container > .section__circle-container__circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 23px 0;
  }

  .mdl-demo main > .mdl-layout__tab-panel {
    padding: 8px;
    padding-top: 20px;
  }
  #p1{
    width:100%;
  }
.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mdl-color--primary{
    background-color: green;
}
#action-button {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  z-index: 900;
}
.demo-list-icon {
  width: 300px;
}
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;}
.width-95{
  margin: 0 auto;
  width: 95%;
  max-width: 860px;
}
.no-border{
  border: 0;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}